{% extends 'base.html' %}
{% load staticfiles	 %}

{% block head %}
	<!-- ../static/css/questions.css -->
	<!-- ../static/js/questions.js -->
	<link href="{% static 'css/questions.css' %}" rel="stylesheet">
  	<script src="{% static 'js/questions.js' %}"></script>
{% endblock head %}

{% block main %}
	<div class="page-header">
		<a class="btn btn-primary pull-right" href="{% url 'ask' %}">
			<span class="glyphicon glyphicon-share-alt"></span>
			Ask A Question
		</a>
		<hr/>
		<h1>Questions</h1>
	</div>
	<ul class="questions">
		<ul class="nav nav-tabs" style="margin-bottom: 1em">
			 <li {% if active == 'all' %} class="active" {% endif %}><a href="{% url 'questions' %}">All Questions</a></li>
			 <li {% if active == 'unanswered' %} class="active" {% endif %}><a href="{% url 'unanswered' %}">Unanswered</a></li>
			 <li {% if active == 'answered' %} class="active" {% endif %}><a href="{% url 'answered' %}">Answered</a></li>			
		</ul>
		{% for question in questions %}
			{% include 'questions/partial_question.html' with question=question %}
		{% empty %}
			<h4 style="text-align: center; padding: 1em 0;">No question to display</h4>	
		{% endfor %}
	</ul>

{% endblock main %}