{% extends 'base.html' %}
{% load staticfiles %}

{% load humanize %}

{% block head %}
  <!-- ../static/css/questions.css -->
  <!-- ../static/js/questions.js -->
  <link href="{% static 'css/questions.css' %}" rel="stylesheet">
  <script src="{% static 'js/questions.js' %}" type="text/javascript"></script>
{% endblock head %}

{% block main %}
  <ol class="breadcrumb">
    <li><a href="{% url 'questions' %}">Questions</a></li>
    <li class="active">{{ question.title }}</li>
  </ol>
  <div class="row question" question-id="{{ question.id }}">
  	<div class="col-md-1 options">
  		<span class="glyphicon glyphicon-star-empty favorite"></span>
  		<span>0</span>
  	</div>
  	<div class="col-md-11">
  		<h2>{{ question.title }}</h2>
  		<div class="question-user">
  			<a href="#"><img src="http://www.gravatar.com/avatar/07626034d73ad893cf8a63cea49a4cb6?s=256&d=http%3A%2F%2Ftrybootcamp.vitorfs.com%2Fstatic%2Fimg%2Fuser.png" class="user"></a>
  			<a href="#" class="username">{{ question.user.get_full_name }}</a>
  			<small class="asked">asked {{ question.update_date|naturaltime }}</small>
  		</div>
  		<p>{{ question.description }}</p>
  		{% if question.get_tag_list %}
  			{% for tag in question.get_tag_list %}
  				<span class="label label-primary">{{ tag }}</span>
  			{% endfor %}
  		{% endif %}
  	</div>
  </div>
  <h4 class="page-header">Answers</h4>
  <div class="answers">
    {% for answer in question.get_answers %}
      {% include 'questions/partial_answer.html' with question=question answer=answer %}
    {% endfor %}
  	<hr/>
  	<h4>Your Answer</h4>
  	<form action="{% url 'answer' %}" method="post" role="form">
  		{% csrf_token %}
      {{ form.question }}
  		<div class="form-group">
      {{ form.description }}
  		</div>
  		<div class="form-group">
  			<button type="submit" class="btn btn-default">Preview</button>
  		</div>
  	</form>
  </div>

{% endblock main %}