<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}BootCamp{% endblock title %}</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootcamp.css">
	<script
  		src="https://code.jquery.com/jquery-3.1.1.min.js"
  		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
	{% block head %}
	{% endblock head %}
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<ul class="menu nav navbar-nav">
			  <li><a href="{% url 'feeds' %}">Feeds</a></li>
	          <li><a href="#">Articles</a></li>
	          <li><a href="{% url 'questions' %}">Q&A</a></li>
	          <li><a href="#">Knowledge Base</a></li>
	          <li><a href="#">Wiki</a></li>
	          <li><a href="#">Events</a></li>
	          <li><a href="#">Network</a></li>
			</ul>
			<ul class="settings nav navbar-nav navbar-right">
	          <li class="user"><a href="#">vitorfs</a></li>
	          <li><a href="#">Account Settings</a></li>
	          <li><a href="#">Sign Out</a></li>
	        </ul>
		</div>
	</nav>
	<div class="container">
	{% block main %}
	{% endblock main %}
	</div>
</body>
</html>