{% load humanize %}
<li feed-id="{{ feed.pk }}">
	<a href="#"><img src="http://www.gravatar.com/avatar/07626034d73ad893cf8a63cea49a4cb6?s=256&d=http%3A%2F%2Ftrybootcamp.vitorfs.com%2Fstatic%2Fimg%2Fuser.png" class="user"></a>
	<div class="post">	
		<h3><a href="#">{{ feed.user }}</a> <small>{{ feed.date|naturaltime }}</small></h3>
		<p>{{ feed.post }}</p>
    	<div class="interaction">
      	<a href="#"><span class="glyphicon glyphicon-thumbs-up"></span> Like (0)</a>
      	<a href="#"><span class="glyphicon glyphicon-comment"></span> Comment (0)</a>
      	<a href="#"><span class="glyphicon glyphicon-flag"></span> Flag (0)</a>
    </div>
	</div>
</li>	